body{
    margin: auto;
    padding: 0;
    background-color: rgba(207, 207, 12, 0.365);
}
nav{
    background-color: rgba(169, 169, 2, 0.438);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

 #form {
    width: 70%;
    max-width: 420px;   
    margin: auto;
    background: rgba(223, 223, 124, 0.737);
    padding: 25px;
    border-radius: 15px;
}

label {
    display: block;
    margin: 15px 0 6px;
    font-size: 14px;
}
input[type="text"],
input[type="date"],
textarea {
    width: 95%;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid #999;
    background: #e2e2e2;
    outline: none;
}
.radio-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background: #e2e2e2;
    border-radius: 10px;
    font-size: 14px;
}
textarea {
    height: 110px;
    resize: none;
}


.checkbox {
    display: flex;
    gap: 20px;
    margin-top: 18px;
    font-size: 13px;
    line-height: 1.4;
}

.name-row {
    display: flex;
    gap: 15px;          
}

.name-field {
    flex: 1;   
    gap: 2px;         
}

.name-field input {
    width: 92%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #999;
}
.submit-box {
    text-align: center;
    margin-top: 25px;
}

button {
    background: #3f7f3f;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #2f6b2f;
}
.acknowledgement{
    display: flexblock;
    align-items: left;
    gap: 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.4;
}

