* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  width: 100%;
    height: 100%;
    background-image: url("image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  position: relative;
  z-index: 10;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.signup {
  padding: 10px 25px;
  border: 1px solid #333;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.page-wrapper {
  position: relative;
  width: 80%;
  height: calc(100vh - 80px);
}

.page {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.front-page {
  z-index: 2;
  background-image: url("image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px;
    border-radius: 5px;
    margin-left: 120px;
    
}

.hero {
  display: flex;
  align-items: center;
  padding-inline: 60px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  max-width: 900px;
  color: white;
  font-family: 'volkhov', serif;
  font-weight: 600;
}
.desc {
  color: white;
  margin-bottom: 50px;
  max-width: 345px;
}

.buttons {
  display: flex;
  gap: 20px;
}
.btn-primary {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 400;
  padding: 1px 15px;
  border-radius: 8px;
  border: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
}


.btn-play {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.play-icon {
  width: 44px;
  height: 44px;
  background: transparent;
  border-radius: 100%;
  border-color: white;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  justify-content: center;
  color: white;
  font-size: 14px;
  box-shadow: 0 18px 20px rgba(2, 1, 1, 0.35);
}

.play-text {
  font-size: 16px;
  color:white;
  font-weight: 600;
}
