* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  background: url('backimg.png') no-repeat center center fixed;
  overflow: hidden;
}

.stage {
  position: relative;
  width: 100%;
  height: 100vh;
}
.page {
  position: absolute;
  background:transparent;
  border-radius: 16px;
}
.front {
  top: 4%;
  left: 2%;
  width: 70%;
  height: 100%;
  z-index: 3;
  transform: translateX(150px);
  background-color: transparent;
  
}
.back {
  top: 7%;
  left: 12%;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top:-50px;
}
.back .mask {
  position: absolute;
  right: 0;           
  width: 92%;         
  height: 95%;
  top:7%;
  overflow: hidden;
}
.page iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.page:hover {
  z-index: 10;
}
.page{
    width: 100;
}
.page.back{
    width: 35%;
    position: absolute;
    right: 0;
    left: 63%;
    top: 1%;
    bottom: 0;
    height: auto;
}
.page.front{
    border-radius: 0;
}
