* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: rgba(128, 128, 128, 0.505);
  overflow: hidden;
}

.stage {
  position: relative;
  width: 100%;
  height: 100vh;
}
.page {
  position: absolute;
  background:transparent;
  border-radius: 16px;
}
.front {
  top: 4%;
  left: 2%;
  width: 85%;
  height: 100%;
  z-index: 3;
  background-color: transparent;
  box-shadow: 0 30px 80px rgba(0,0,0,0.35);
}
.back {
  top: 8%;
  left: 12%;
  width: 100%;
  height: 110%;
  z-index: 1;
  margin-top:-70px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
}
.back .mask {
  position: absolute;
  right: 0;           
  width: 92%;         
  height: 85%;
  top:7%;
  overflow: hidden;
}
.page iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.page:hover {
  z-index: 10;
}
.page{
    width: 100;
}
.page.back{
    width: 35%;
    position: absolute;
    right: 0;
    left: 63%;
    top: 10%;
}
.page.front{
    border-radius: 0;
}
